// Start ———————————————————————————————————————————————————————————————

* {
  -webkit-touch-callout: none;
  user-select: none;
}

:root {
  --color-button-a: hsl(228, 100%, 72%);
  --color-button-c: hsl(50, 100%, 60%);

  overflow: hidden;
}

:root,
body,
#app,
.screen {
  height: 100%;
}

.screen,
main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  touch-action: none;

  button._inner {
    flex: auto;
    padding: var(--space-rem-mid);

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

header button .icon-ocarina {
  font-size: em(20);
  margin-right: em(-4, 20);
  margin-bottom: em(-4, 20);
}

main {
  padding-bottom: env(safe-area-inset-bottom);
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.drawer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--shade-dark);
}

.drawer-scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: rem(80);
  overflow: hidden;
  pointer-events: none;
}

.drawer-card {
  pointer-events: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--color-root);
  // margin-top: 20vh;
  // overflow: hidden;
  border-radius: 1em 1em 0 0;
  // box-shadow: 0 0 8rem var(--shade-lighter);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20vh;
  // overscroll-behavior: contain;
}

.drawer-header {
  margin-bottom: var(--space-rem-mid);
  box-shadow: 0 1px 0 var(--shade-lighter);
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--color-root);

  button {
    display: block;
    width: 100%;
    text-align: right;
    font-size: em(32);
    padding-right: var(--space-rem-big);

    &:focus .icon-close {
      box-shadow: 0 0 0 3px var(--contrast-mid);
    }
  }
}

.drawer-header h1 {
  display: flex;
  margin: var(--space-rem-mid) var(--space-rem-mid) var(--space-rem-small);
  padding-top: rem(12);

  .icon-ocarina {
    top: em(-5, 32);
    margin-right: em(-1, 32);
  }
}

.drawer .form-blocks {
  padding: 0 var(--space-rem-mid);
}
