// Start ———————————————————————————————————————————————————————————————

* {
  -webkit-touch-callout: none;
  user-select: none;
}

:root {
  --color-button-a: hsl(228, 100%, 72%);
  --color-button-c: hsl(50, 100%, 60%);

  overflow: hidden;
}

:root,
body,
#app,
.screen {
  height: 100%;
}

.screen {
  background: var(--color-root);
  transform: scale3d(1, 1, 1);
  transform-origin: 50% 50%;
  transition: border-radius, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);

  // @media (min-width: 40em) {
  //   transform-origin: 50% 66.66%;
  // }
}

#app {
  background-color: black;
}

.screen-modal {
  .screen {
    $scale: (342/375);
    transform: scale3d($scale, $scale, 1);
    border-radius: rem(9);

    @media (min-width: 40em) {
      $scale: (620/640);
      transform: scale3d($scale, $scale, 1);
    }
  }
}

.screen,
main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  touch-action: none;

  button._inner {
    flex: auto;
    padding: var(--space-rem-mid);

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }

  .status {
    position: absolute;
    z-index: 1;
    bottom: rem(13);
    right: rem(14);
  }
}

header button[aria-label^='Layout:'] .icon-layout {
  --element-color: var(--contrast-light);
  --hover-element-color: var(--contrast-darker);
}

header button[aria-controls='drawer'] {
  &,
  &:focus,
  &:hover {
    --fill: var(--color-contrast);
  }

  .icon-ocarina {
    --potato-color: var(--fill);
    --ring-color: var(--fill);

    margin-right: em(-3);
    opacity: 0.15;
    transition: opacity 0.1s;

    .holes,
    .symbol {
      display: none;
    }
  }

  &:focus,
  &:hover {
    .icon-ocarina {
      opacity: 0.6;
    }
  }
}

main {
  padding-bottom: env(safe-area-inset-bottom);
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.drawer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--shade-light);
}

.drawer-card-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: rem(40);
  overflow: hidden;
  pointer-events: none;
}

.drawer-card {
  max-width: 26em;
  margin: auto;
  pointer-events: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--color-root);
  border-radius: rem(8) rem(8) 0 0;
  box-shadow: 0 0 2rem var(--shade-lighter);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20vh;
}

.drawer-header {
  // margin-bottom: var(--space-rem-mid);
  box-shadow: 0 1px 0 var(--shade-lighter);
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--color-root);

  button {
    display: block;
    width: 100%;
    line-height: 1;
    text-align: right;
    font-size: em(28);
    padding-right: var(--space-rem-big);

    &:focus .icon-close {
      box-shadow: 0 0 0 3px var(--contrast-light);
    }
  }
}

.drawer-header h1 {
  display: flex;
  margin: var(--space-rem-mid) var(--space-rem-mid) var(--space-rem-small);
  padding-top: rem(12);

  .icon-ocarina {
    top: em(-5, 32);
    margin-right: em(-1, 32);
  }
}

.drawer .form-blocks {
  padding: 0 var(--space-rem-mid);
}

.status {
  --size: #{em(10)};
  --color: var(--grey-light);

  pointer-events: none;

  &:after {
    content: '';
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: var(--color);
    border: 1px solid var(--color-root);
  }

  &[data-state='good'] {
    --color: var(--color-good);
  }

  &[data-state='bad'] {
    --color: var(--color-bad);
  }
}

.error {
  padding: var(--space-rem-mid) var(--space-rem-mid);
  color: var(--color-text-bad);
  background-color: var(--color-bad-10);
  overflow: auto;

  pre {
    margin: 0 0 var(--space-rem-mid);
    white-space: pre-wrap;
  }

  button {
    @extend ._bad;
  }
}
