// Transitions —————————————————————————————————————————————————————————
$slide-duration: 0.3s;

.slide-left-enter-active {
  transition: transform $slide-duration ease-out;
}

.slide-left-leave-active {
  transition: transform $slide-duration ease-in;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100%);
}

.drawer-slide-enter-active,
.drawer-slide-leave-active {
  transition: visibility $slide-duration;

  .drawer-overlay {
    transition: opacity $slide-duration;
  }
}

.drawer-slide-enter-active .drawer-card {
  transition: transform $slide-duration cubic-bezier(0.2, 0, 0, 1);
}
.drawer-slide-leave-active .drawer-card {
  transition: transform $slide-duration ease-in;
}

.drawer-slide-enter,
.drawer-slide-leave-to {
  .drawer-overlay {
    opacity: 0;
  }
  .drawer-card {
    transform: translateY(100%);
  }
}
